*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-login > form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 500px;
    padding: 20px;
    border: 1px solid black;
    
}

.form-login > form > h1{
    align-self: center;
}

input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

.form-login > form button{
    padding: 10px;
    background-color: white;
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s;
    transition: color .5s;
}

.form-login > form button:hover{
    background-color: grey;
    color: white;
}

.rememberSession{
    display: flex;
    gap: 5px;
}

.shake{
    animation: shake 0.5s ease-in-out !important
}

.forgot-my-password{
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
}

.register-p{
  font-size: 14px;
}

.register-link{
  color: var(--accent-color);
}

@keyframes shake {
    0% {
        transform: translateX(0);
      }
      25% {
        transform: translateX(-5px);
      }
      50% {
        transform: translateX(5px);
      }
      75% {
        transform: translateX(-5px);
      }
      100% {
        transform: translateX(0);
      }
}