.sidebar{
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 96vh;
    width: 350px;
    border: none;
    padding: 20px;
    z-index: 9999;
}

.sidebar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5%;
    gap: 20px;
}

.close-modal-icon{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.sidebar-section{
    display: flex;
    flex-direction: column;
    height: 85%;
    
}

.sidebar-footer{
    height: 10%;
}

.exit-account{
    height: 48px;
    width: 80%;
    margin-bottom: 20px;
}