.admin-product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.admin-product-edit{
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.edit-product-input{
    display: flex;
    justify-content: space-between;
}