.image-input{
    margin: 20px 0;
}

.img-input-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50%;
    width: 100%;
    margin-bottom: 10px;
}

.delete-img-icon{
    width: 25px;
    height: 25px;
    cursor: pointer;
}