.client-products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 40px; 
    max-width: 100vw; 
    padding: 20px 40px;
    justify-content: center;
}